body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.left-scene {
  flex: 0 0 20%;
  display: flex;
  padding: 10px;
  .logo {
    flex: 0 0 20%;
    border: 1px solid lightgrey;
    padding: 20px;
    img {
      height: 32px;
    }
  }
  .channels-container {
    flex: 0 0 80%;
    font-weight: bold;
    border: 1px solid lightgrey;
    padding-left: 10px;
  }
  span {
    color: #d104a8;
    padding: 4px;
  }
}
.channels-title {
  border-bottom: 1px dashed lightgrey;
}

.channels-content {
  padding-top: 20px;
}

.channel {
  font-weight: lighter;
}

.channel.active {
  font-weight: bold;
}

.right-scene {
  flex: 0 0 80%;
  flex-direction: column;
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
  .hash {
    color: #d104a8;
  }
}

.channel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-title {
  border-bottom: 1px dashed lightgrey;
  display: flex;
  align-items: center;
}

.message-author > span {
  font-weight: bold;
  font-size: 16px;
  color: #d104a8;
}

.channel-content {
  overflow: scroll;
  height: 100%;
  padding-top: 20px;
}

.message-form {
  display: flex;
  bottom: 20px;
  width: 100%;
  form {
    width: 100%;
  }
}

input {
  width: 90%;
  height: 33px;
  border: 1px solid lightgrey;
}

.btn {
  margin-left: 10px;
  background-color: #d104a8;
  color: white;
}
