body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.left-scene {
  flex: 0 0 20%;
  display: flex;
  padding: 10px;
  .logo {
    flex: 0 0 20%;
    border: 1px solid lightgrey;
    padding: 10px;
    img {
      height: 32px;
    }
  }
  .channels {
    flex: 0 0 80%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid lightgrey;
    padding: 10px;
  }
}

.right-scene {
  flex: 0 0 80%;
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
  .hash {
    color: #d104a8;
  }
}

.message-header > span {
  font-weight: bold;
  font-size: 16px;
  color: #d104a8;
}

.message-form {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

input {
  width: 60%;
  height: 33px;
  border: 1px solid #d104a8;
}

.btn {
  margin-left: 10px;
  background-color: #d104a8;
  color: white;
}
